<div>
{% if data.error %}
    <div class="alert alert-danger"><i class="fa fa-times-circle"></i>
        {{ data.error }}
    </div>
{% else %}
    {% if data.warning %}
        <div class="alert alert-warning"><i class="fa fa-times-circle"></i>
            {{ data.warning }}
        </div>
    {% endif %}
    <form id="form_search" action="{% url 'core_explore_keyword_app_search' %}" method="POST">
        {% csrf_token %}
        {% include 'core_explore_keyword_app/user/search_bar.html' %}
        <div class="d-inline-flex col-sm-12">
            <div class="col-sm-3">
                {% include data.data_sources_selector_template %}
                {% include 'core_explore_keyword_app/user/template_filter.html' %}
            </div>
            <div class="col-sm-9">
                {% include "core_explore_common_app/user/results/results.html" %}
            </div>
        </div>
    </form>
{% endif %}
</div>
