.search_button {
    height:2em;
    line-height: 0em;
    min-width: 0em;
    width: 100%;
}

.selectAllGlobalTemplateButton {
    color: #0043de;
    font-size: 0.5em;
}

.selectAllUserTemplateButton {
    color: #0043de;
    font-size: 0.5em;
}

ul.tagit {
    margin: 0;
}

ul.tagit li.tagit-choice-editable {
    height:1.65em;
    padding: .0em 18px .0em .0em;
}

.tagit {
    cursor: text;
}

.tagit-close {
    text-decoration: none;
    border: 0;
}

.tagit-label {
    margin-left: 0.2em;
}

.search-left-panel .panel-default {
    overflow: hidden;
}

.panel-body .glyphicon {
    line-height: inherit;
    top: inherit;
}

.panel-body {
    overflow-y: scroll;
}

.panel-template ul {
    margin: 0;
}

.panel-template input {
    margin-right: 8px;
}