.mb-1 {
    margin-bottom: 1rem;
}

.search_button {
    height:2em;
    line-height: 0em;
    min-width: 0em;
    width: 100%;
}

.selectAllGlobalTemplateButton {
    color: #0043de;
    font-size: 0.5em;
}

.selectAllUserTemplateButton {
    color: #0043de;
    font-size: 0.5em;
}

ul.tagit {
    margin: 0;
}

ul.tagit li.tagit-choice-editable {
    height:1.65em;
    padding: .0em 18px .0em .0em;
}

.tagit {
    cursor: text;
}

.tagit-close {
    text-decoration: none;
    border: 0;
}

.tagit-label {
    margin-left: 0.2em;
}

.search-left-panel .panel-default {
    overflow: hidden;
}

.panel-body .glyphicon {
    top: inherit;
}

.panel-body {
    overflow-y: auto;
}

.panel-template ul {
    margin: 0;
}

.panel-template input {
    margin-right: 8px;
}

.tools-menu li {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

.tools-menu i {
    padding-right: 5px;
}

.tools-menu a {
    display: contents !important;
}

span.fancytree-title {
    width: 12em;
}
